* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

:root {
  --fw-light: 100;
  --fw-normal: 400;
  --fw-semibold: 700;
  --fw-bold: 900;
  --fz-normal: 16px;
  --fz-big: calc(16px + 1.8vw);
  --level-box-bg: #262A34;
  --topbar-pad: 30px;
  --bd-rad-menu: 200px;
  --bd-rad: 21px;
  --tbox-bg: rgba(97, 97, 97, 0.1);
  --tbox-pad: 5px 20px;
  --menu-fc-dark: #fff;
  --menu-fc-light: #262A34;
  --fc-dark: #fff;
  --fc-light: #2D2F36;
  --color-skyblue: #52D8FF;
  --bg: #25262b;
  --bg-menu: #2a2f3b;
  --bg-img-layer: rgba(23, 24, 26, 0.5);
  ;
  --color-white: #fff;
  --color-transparent: #0000;
  --form-bg: linear-gradient(97.84deg, #3B4348 5.47%, #28292D 100%);
  --form-input-bg: rgba(255, 255, 255, 0.04);
  --form-border: 4px solid var(--color-skyblue);
  ;
  --contact-content-bg: linear-gradient(89.74deg, #3B4348 -9.7%, #2D2F3600 100%);
  --popup-bg: linear-gradient(104.41deg, #52D7FF -13.33%, #39869E 19.16%, #20363E 89.97%, #17181A 118.84%);
  --popup-text-bg: rgba(12, 13, 14, 0.2);
  ;
}

.popup-bg {
  background: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(2.5px);
}

.dflex {
  display: flex;
}

.dgrid {
  display: grid;
}

.dblock {
  display: block;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.po-abs {
  position: absolute;
}

.po-rel {
  position: relative;
}

.text-center {
  text-align: center;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  background-color: var(--bg);
}

/* **************** */
/* Top bar */
/* **************** */

.top_bar {
  padding: 1rem;
}

.logo img {
  width: 40px;
}

/* .social {} */

.social .social_icon {
  margin: 0 10px;
}

.social .social_icon img {
  width: 40px;
}

/* **************** */
/* Top bar */
/* **************** */


/* **************** */
/* Loader animation*/
/* **************** */

.loader {
  display: flex;
  background-color: var(--bg);
}

.loader div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader div span {
  width: 25px;
  height: 25px;
  border-radius: var(--bd-rad);
  background: #fff;
  margin-inline: 5px;
  animation: fade .8s infinite;
}

.loader div span:nth-child(1) {
  animation-delay: calc(0.1s * 1);
}

.loader div span:nth-child(2) {
  animation-delay: calc(0.1s * 2);
}

.loader div span:nth-child(3) {
  animation-delay: calc(0.1s * 3)
}

.loader div span:nth-child(4) {
  animation-delay: calc(0.1s * 4);
}

.loader div span:nth-child(5) {
  animation-delay: calc(0.1s * 5);
}

.loader div span:nth-child(6) {
  animation-delay: calc(0.1s * 6);
}

@keyframes fade {
  100% {
    background: var(--bg);
  }
}

/* **************** */
/* Loader animation*/
/* **************** */

/* *******************/
/* Menu bottom */
/* ***************** */

.main_nav {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: 1vh;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  background-color: var(--bg-menu);
  border-radius: var(--bd-rad-menu);
}

ul li {
  list-style-type: none;
}

ul li a {
  background-color: var(--bg-menu);
}

ul a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 2px;
  margin: 5px;
  text-align: center;
  color: var(--menu-fc-dark);
  text-decoration: none;
  border-radius: var(--bd-rad-menu);
  transition: all 0.2s linear;
}

ul li a:hover {
  background-color: var(--color-skyblue);
  color: var(--bg-menu);
}

.m_active {
  background-color: var(--color-skyblue);
  color: var(--bg-menu);
}

/* *******************/
/* Menu bottom */
/* ***************** */

/* ******************* */
/* Home Section */
/* ******************* */

.homebg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to left, var(--bg-img-layer), var(--bg-img-layer)), url(./medias/pictures/bg.png);
  background-position: center;
  background-size: cover;
}

.main_hero {
  flex-direction: column;
  padding-top: 5vh;
  font-size: var(--fz-big);
  font-weight: var(--fw-semibold);
  color: var(--color-white);
}

/* .main_hero .presentationText {} */

.main_hero .presentationText .intro {
  color: var(--color-transparent);
  -webkit-text-stroke: 2px var(--color-white);
}

.main_hero .profileImage {
  width: 15vw;
}

.main_hero .name {
  color: var(--color-skyblue);
}

.main_hero .skillSpecialisation {
  color: var(--color-white);
  font-weight: var(--fw-normal);
}

.skipIcone {
  width: 45px;
  height: 45px;
  background: var(--color-skyblue);
  border-radius: 100%;
  margin-top: 4vh;
}

/* ******************* */
/* Home Section */
/* ******************* */



/* ******************* */
/* Popup View */
/* ******************* */

.project-view-bg {
  padding: 5vh 4vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.project-view {
  border-radius: 20px;
  flex-direction: column;
  height: fit-content;
}

.closeBtn {
  width: 30px;
  height: 30px;
  background-color: var(--color-skyblue);
  border-radius: 100%;
  margin-inline: auto;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.closeBtn img {
  margin: 0 auto;
}

.project-details {
  width: 70%;
  grid-template-columns: repeat(2, 50%);
  background: var(--popup-bg);
  height: 80%;
  margin: 5vh auto 0;
  padding: 15px;
  border-radius: 20px;
}

.project-img {
  margin-right: 30px;
}

.project-info {
  position: relative;
  background: var(--popup-text-bg);
  padding: 2.5vh 2.5vw;
  border-radius: 12px;
}

.visitLink {
  position: absolute;
  top: 2.5vh;
  right: 2.5vw;
}

.visitBtn {
  font-weight: var(--fw-semibold);
  color: var(--fc-light);
  background: var(--color-skyblue);
  font-size: 16px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* ******************* */
/* Popup View */
/* ******************* */


/* ******************* */
/* About section */
/* ******************* */

.about_section {
  margin: 6vh auto 0;
  display: flex;
  height: 60vh;
  width: 80vw;
}

.txt_about {
  width: 60%;
}

.img_about {
  width: auto;
}

.img_about img {
  border-radius: 1rem;
}

.p1_about,
.btn_about {
  color: var(--color-white);
  background-color: var(--tbox-bg);
  border-radius: 1rem;
  padding: 12px;
  text-decoration: none;
}

.mr-10 {
  margin-right: 10px;
}

/* ******************* */
/* About section */
/* ******************* */


/* ******************* */
/* Contact page */
/* ******************* */

.mb-10 {
  margin-bottom: 25px;
}


.contact {
  background: var(--contact-content-bg);
  max-height: 50vh;
  padding: 20px 10vw;
  margin-top: 10vh;
}

.contact .address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .address .addressIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.addressIcon .test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.contact .address .addressIcon .icon {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact .address .addressIcon .icon img {
  margin-right: 20px;
}

.address .addressIcon .text {
  font-size: var(--fz-normal);
  font-weight: var(--fw-light);
}

.contactForm {
  display: grid;
  margin-top: -10vh;
  padding: 20px;
  width: 35vw;
  height: 62vh;
  border-radius: 10px;
  border: var(--form-border);
  background: var(--form-bg);
}

.contactForm form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.contactForm form .btn {
  padding: 8px 15px;
  font-size: 18px;
  max-width: 110px;
  border: none;
  font-weight: var(--fw-semibold);
  color: var(--fc-light);
  border-radius: 8px;
  background-color: var(--color-skyblue);
}

.contactForm form input,
.contactForm form textarea {
  background-color: var(--form-input-bg);
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.contactForm form input {
  width: 100%;
  color: var(--color-white);
  font-size: var(--fz-normal);
}
.contactForm form textarea {
  height: 47%;
}


/* ******************* */
/* Contact page */
/* ******************* */