* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --fw-light: 100;
  --fw-normal: 400;
  --fw-semibold: 700;
  --fw-bold: 900;
  --fz-normal: calc(10px + 0.8vw);
  --fz-big: calc(16px + 1.8vw);
  --level-box-bg: #262A34;
  --topbar-pad: 30px;
  --bd-rad-menu: 200px;
  --bd-rad: 21px;
  --tbox-bg: rgba(97, 97, 97, 0.1);
  --tbox-pad: 5px 20px;
  --menu-fc-dark: #fff;
  --menu-fc-light: #262A34;
  --fc-dark: #fff;
  --fc-light: #2D2F36;
  --color-skyblue: #52D8FF;
  --bg: #25262b;
  --bg-menu: #2a2f3b;
  --bg-img-layer: rgba(23, 24, 26, 0.5);
  --color-white: #fff;
  --color-transparent: #0000;
  --form-bg: linear-gradient(97.84deg, #3B4348 5.47%, #28292D 100%);
  --form-input-bg: rgba(255, 255, 255, 0.04);
  --form-border: 4px solid var(--color-skyblue);
  --contact-content-bg: linear-gradient(89.74deg, #3B4348 -9.7%, #2D2F3600 100%);
  --popup-bg: linear-gradient(104.41deg, #52D7FF -13.33%, #39869E 19.16%, #20363E 89.97%, #17181A 118.84%);
  --popup-text-bg: rgba(12, 13, 14, 0.2);
  ;
}

.popup-bg {
  background: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(2.5px);
}

.dflex {
  display: flex;
}

.dgrid {
  display: grid;
}

.dblock {
  display: block;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.po-abs {
  position: absolute;
}

.po-rel {
  position: relative;
}

.text-center {
  text-align: center;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  background-color: var(--bg);
  padding-top: 14vh;
}

h6 {
  font-weight: var(--fw-normal);
}

/* **************** */
/* Top bar */
/* **************** */

.top_bar {
  padding: 1rem;
  position: fixed;
  top: 0px;
  z-index: 600;
  width: 100%;
}

.bg-primary {
  background: var(--bg);
}

.logo img {
  width: 30px;
}

.social .social_icon {
  margin: 0 10px;
}

.social .social_icon img {
  width: 30px;
}

@media (max-width: 255px) {
  .social {
    display: none;
  }
}

/* **************** */
/* Top bar */
/* **************** */


/* **************** */
/* Loader animation*/
/* **************** */

.loader {
  display: flex;
  background-color: var(--bg);
  z-index: 500;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.loader div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader div span {
  width: 25px;
  height: 25px;
  border-radius: var(--bd-rad);
  background: #fff;
  margin-inline: 5px;
  animation: fade .8s infinite;
}

.loader div span:nth-child(1) {
  animation-delay: calc(0.1s * 1);
}

.loader div span:nth-child(2) {
  animation-delay: calc(0.1s * 2);
}

.loader div span:nth-child(3) {
  animation-delay: calc(0.1s * 3)
}

.loader div span:nth-child(4) {
  animation-delay: calc(0.1s * 4);
}

.loader div span:nth-child(5) {
  animation-delay: calc(0.1s * 5);
}

.loader div span:nth-child(6) {
  animation-delay: calc(0.1s * 6);
}

@keyframes fade {
  100% {
    background: var(--bg);
  }
}

/* **************** */
/* Loader animation*/
/* **************** */

/* *******************/
/* Menu bottom */
/* ***************** */

.main_nav {
  position: fixed;
  left: 50%;
  z-index: 500;
  transform: translatex(-50%);
  bottom: 1vh;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  background-color: var(--bg-menu);
  border-radius: var(--bd-rad-menu);
}

ul li {
  list-style-type: none;
}

ul li a {
  background-color: var(--bg-menu);
}

ul a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 4px;
  margin: 5px;
  text-align: center;
  color: var(--menu-fc-dark);
  text-decoration: none;
  border-radius: var(--bd-rad-menu);
  transition: all 0.2s ease-in-out;
}

ul li a:hover,
.m_active {
  background-color: var(--color-skyblue);
  color: var(--bg-menu);
}

.menu-openner,
.menu-closer,
.social-menu {
  display: none;
}

@media (max-width: 700px) {

  .menu-closed {
    display: none !important;
  }

  .menu-closer {
    position: fixed;
    width: 30px;
    top: 1rem;
    right: 1rem;
  }

  .social-menu {
    gap: 1.5rem;
    display: flex;
    max-width: 50px;
    margin: 2rem auto 0;
    padding-inline: 5rem;
  }

  .social-menu * {
    margin: 0 auto;
  }

  .social-menu a {
    width: 40px;
    min-width: unset !important;
    display: block;
  }

  .social-menu a img {
    width: 40px;
  }



  .logo.menu-openner,
  .menu-closer {
    display: block;
    z-index: 1000;
  }

  .main_nav {
    display: grid;
    left: 0%;
    z-index: 700;
    top: 0;
    transform: translatex(0%);
    bottom: 0;
    font-weight: 600;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-menu);
    border-radius: 0;
    align-items: center;
    align-content: center;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 0px;
  }

  ul li {
    min-width: 270px;
    margin: 2vh auto;
  }

  ul li a {
    display: block;
    background-color: #0005;
    text-align: center;
    min-width: 120px;
    padding: 8px;
    margin: 3px;
    text-align: center;
    color: var(--menu-fc-dark);
    text-decoration: none;
    border-radius: var(--bd-rad-menu);
    transition: all 0.2s linear;
  }
}

/* *******************/
/* Menu bottom */
/* ***************** */

/* ******************* */
/* Home Section */
/* ******************* */

.homebg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to left, var(--bg-img-layer), var(--bg-img-layer)), url(./medias/pictures/bg.png);
  background-position: center;
  background-size: cover;
}

.main_hero {
  flex-direction: column;
  height: 64vh;
  padding-top: 5vh;
  font-size: var(--fz-big);
  font-weight: var(--fw-semibold);
  color: var(--color-white);
  align-items: center;
  justify-content: center;
}

.main_hero .presentationText .intro {
  color: var(--color-transparent);
  -webkit-text-stroke: 2px var(--color-white);
}

.main_hero .profileImage {
  width: 15vw;
  min-width: 180px;
  margin-bottom: 2rem;
}

.main_hero .name {
  color: var(--color-skyblue);
}

.main_hero .skillSpecialisation {
  color: var(--color-white);
  font-weight: var(--fw-normal);
}

.skipIcone {
  width: 45px;
  height: 45px;
  background: var(--color-skyblue);
  border-radius: 100%;
  margin-top: 4vh;
}

@media (max-width: 600px) {
  .main_hero .presentationText {
    display: grid;
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* ******************* */
/* Home Section */
/* ******************* */



/* ******************* */
/* Popup View */
/* ******************* */

.project-view-bg {
  padding: 5vh 4vw;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 700;
  margin: 0 auto;
}

.click-to-close {
  position: fixed;

}

.project-view {
  border-radius: 20px;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.project-name {
  text-align: center;
  position: relative;
  margin-bottom: 4vh;
}

.project-name::after {
  content: '';
  position: absolute;
  background-color: var(--color-white);
  height: 2px;
  width: 50%;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeBtn {
  width: 30px;
  height: 30px;
  background-color: var(--color-skyblue);
  border-radius: 100%;
  margin-inline: auto;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.closeBtn img {
  margin: 0 auto;
}

.project-details {
  width: 90%;
  grid-template-columns: repeat(2, 50%);
  background: var(--popup-bg);
  height: fit-content;
  margin: 4vh auto 0;
  padding: 15px;
  border-radius: 20px;
}

.project-img {
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.project-img img {
  aspect-ratio: 1;
}

.project-info {
  position: relative;
  background: var(--popup-text-bg);
  padding: 2.5vh 2.5vw;
  border-radius: 12px;
  min-height: 220px;
}

.visitLink {
  position: static;
  margin: 2rem 2rem 1rem;
  justify-self: center;
}

.visitBtn {
  font-weight: var(--fw-bold);
  color: var(--fc-light);
  background: var(--color-skyblue);
  font-size: 16px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in-out .3s;
}

.visitBtn:hover {
  color: var(--fc-light);
  background: var(--color-white);
  font-size: 16px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 1000px) {

  .project-view {
    border-radius: 20px;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    width: 100%;
  }

  .project-name {
    max-width: 90%;
  }

  .closeBtn {
    width: 30px;
    height: 30px;
    position: sticky;
    top: .2rem;
    background-color: var(--color-skyblue);
    border-radius: 100%;
    margin-inline: auto;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }

  .closeBtn:hover {
    transform: scale(1.2);
  }

  .closeBtn img {
    margin: 0 auto;
  }

  .project-details {
    width: 100%;
    max-width: 500px;
    grid-template-columns: repeat(1, 100%);
    background: var(--popup-bg);
    height: fit-content;
    margin: 1vh auto 0;
    padding: 15px;
    border-radius: 20px;
  }

  .project-img {
    margin-bottom: 30px;
    margin-right: 0px;
    border-radius: 10px;
    overflow: hidden;
  }

  .project-img img {
    aspect-ratio: 1;
  }

  .project-info {
    position: relative;
    background: var(--popup-text-bg);
    padding: 2.5vh 2.5vw;
    border-radius: 12px;
  }

  .visitLink {
    position: static;
    margin: 2rem 2rem 1rem;
    justify-self: center;
  }

  .visitBtn {
    font-weight: var(--fw-semibold);
    color: var(--fc-light);
    background: var(--color-skyblue);
    font-size: 16px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
}

/* ******************* */
/* Popup View */
/* ******************* */


/* ******************* */
/* About section */
/* ******************* */

.about_section {
  margin: 6vh auto 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
  max-width: 80vw;
}

.txt_about {
  width: 60%;
  max-width: 800px;
}

.img_about {
  width: auto;
  max-height: 60vh;
}

.img_about img {
  border-radius: 1rem;
  height: 65vh;
}

.mb-5vh {
  margin-bottom: 2.6vh;
}

.p1_about,
.btn_about {
  color: var(--color-white);
  background-color: var(--tbox-bg);
  border-radius: 1rem;
  padding: 1.5rem;
}

.btn_about {
  padding: .6rem 1.5rem;
  text-decoration: none;
  transition: .2s ease;
  margin: 1vh 1.5vw 0 0;
  color: var(--color-skyblue);
}

.btn_about:hover {
  color: var(--fc-light);
  background-color: var(--color-skyblue);
}

@media (max-width: 900px) {

  .about_section {
    margin: 6vh auto 0;
    display: grid;
    flex-direction: column;
    gap: 2rem;
    height: 60vh;
    width: 80vw;
  }

  .txt_about {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 8vh;
  }

  .img_about {
    width: auto;
    max-width: 300px;
    margin: 0 auto;
    width: auto;
    max-height: 60vh;
  }

  .img_about img {
    border-radius: 1rem;
    height: auto;
    border-radius: 1rem;
  }

  .p1_about,
  .btn_about {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
  }

}

/* ******************* */
/* About section */
/* ******************* */


/* ******************* */
/* Contact page */
/* ******************* */

.mb-10 {
  margin-bottom: 25px;
}

.contact {
  background: var(--contact-content-bg);
  max-height: 50vh;
  padding: 20px 5vw;
  margin-top: 10vh;
}

.contact .address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .address .addressIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.addressIcon .test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.contact .address .addressIcon .icon {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact .address .addressIcon .icon img {
  margin-right: 20px;
}

.address .addressIcon .text {
  font-size: var(--fz-big);
  font-weight: var(--fw-light);
  margin-bottom: 20px;
}

.contactForm {
  display: grid;
  margin-top: -10vh;
  padding: 20px;
  width: 35vw;
  height: 62vh;
  border-radius: 10px;
  border: var(--form-border);
  background: var(--form-bg);
}

.contactForm form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.contactForm form .btn {
  padding: 8px 15px;
  font-size: 18px;
  max-width: 110px;
  border: none;
  font-weight: var(--fw-semibold);
  color: var(--fc-light);
  border-radius: 8px;
  background-color: var(--color-skyblue);
}

.contactForm form input,
.contactForm form textarea {
  background-color: var(--form-input-bg);
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.contactForm form input {
  width: 100%;
  color: var(--color-white);
  font-size: var(--fz-normal);
}

.contactForm form textarea {
  color: var(--color-white);
  height: 47%;
}

@media (max-width: 900px) {
  .contact {
    background: var(--contact-content-bg);
    max-height: fit-content;
    padding: 20px 4vw;
    margin-top: 10vh;
    padding-block: 10vh;
    flex-direction: column;
  }

  .contact .address {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact .address .addressIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }

  .addressIcon .test {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
  }

  .contact .address .addressIcon .icon {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .contact .address .addressIcon .icon img {
    margin-right: 20px;
  }

  .address .addressIcon .text {
    font-size: var(--fz-big);
    font-weight: var(--fw-light);
  }

  .contactForm {
    display: grid;
    margin-top: 10vh;
    padding: 1rem;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: var(--form-border);
    background: var(--form-bg);
  }

  .contactForm form {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0;
    width: 100%;
    height: 100%;
  }

  .contactForm form .btn {
    padding: 10px 15px;
    font-size: 18px;
    max-width: 110px;
    border: none;
    font-weight: var(--fw-semibold);
    color: var(--fc-light);
    border-radius: 10px;
    background-color: var(--color-skyblue);
  }

  .contactForm form input,
  .contactForm form textarea {
    background-color: var(--form-input-bg);
    border: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
  }

  .contactForm form input {
    width: 100%;
    color: var(--color-white);
    font-size: var(--fz-normal);
  }

  .contactForm form textarea {
    min-height: 200px;
    width: 100%;
  }
}

/* ******************* */
/* Contact page */
/* ******************* */


/* ******************* */
/* Skills page */
/* ******************* */


.skills-bar {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  margin-bottom: 10vh;
}

.skills-bar .bar {
  width: 50%;
  padding: 20px 20px;

}

.skills-bar .bar .info {
  margin: 10px 0px;
}

.skills-bar .bar .info img {
  height: 60px;
  width: 60px;
}

.skills-bar .bar .progress-line.jsx span {
  width: 80%;
}

.skills-bar .bar .progress-line.redux span {
  width: 20%;

}

.skills-bar .bar .progress-line.git span {
  width: 80%;


}

.skills-bar .bar .progress-line.figma span {
  width: 40%;

}

.skills-bar .bar .progress-line.es6 span {
  width: 80%;

}

.skills-bar .bar .progress-line.node span {
  width: 80%;

}

.skills-bar .bar .progress-line.htmlCss span {
  width: 80%;

}

.skills-bar .bar .progress-line.php span {
  width: 60%;

}

.skills-bar .bar .progress-line.bootstrap span {
  width: 50%;
}

.skills-bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #262A34;
  border-radius: 5px;
}

.skills-bar .bar .progress-line span {
  position: absolute;
  height: 100%;
  border-radius: 5px;
  background-color: #52D7FF;
}

.skills-bar .bar .progress-line::after {
  position: absolute;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  right: 0px;
  top: -50px;

}

.skills-bar .bar .progress-line.jsx::after {
  content: 'JSX';

}

.skills-bar .bar .progress-line.redux::after {
  content: 'REDUX';

}

.skills-bar .bar .progress-line.git::after {
  content: 'Git';


}

.skills-bar .bar .progress-line.figma::after {
  content: 'Figma';

}

.skills-bar .bar .progress-line.es6::after {
  content: 'Basic Javascript + ES6';

}

.skills-bar .bar .progress-line.node::after {
  content: 'NODE + NPM';

}

.skills-bar .bar .progress-line.htmlCss::after {
  content: 'HTML + CSS';

}

.skills-bar .bar .progress-line.php::after {
  content: 'PHP';

}

.skills-bar .bar .progress-line.bootstrap::after {
  content: 'Bootstrap';

}

/*this code make responsive design*/
@media only screen and (max-width: 750px) {
  .skills-bar .bar {
    width: 100%;
    padding: 1rem 1vw;

  }


  .skills-bar {
    padding: 1rem;
  }

}

/* ******************* */
/* Skills page */
/* ******************* */


/* ******************* */
/* Portfolio page */
/* ******************* */

.portfolio_container {
  display: grid;
  align-items: center;
  margin-bottom: 15%;
  height: calc(90vh - 80px);
}

.main_contan {
  padding: 2rem 3rem;
}

.portfolio_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  height: 100%;
}

.portfolio_block .img_box {
  position: relative;
  min-width: 200px;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
}

.portfolio_block .img_box img {
  width: 100%;
  aspect-ratio: 1;
  display: inline-block;
  border-radius: 13px;
}

.portfolio_block .primary_btn {
  border: none;
  cursor: pointer;
  color: var(--fc-light);
  font-weight: var(--fw-semibold);
  text-decoration: none;
  height: 3rem;
  background-color: var(--color-skyblue);
  padding: 5rem auto;
  border-radius: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* ******************* */
/* Portfolio page */
/* ******************* */